@{
    ViewBag.Title = Resources.Global.UnsuccessfulEmailVerification;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@Resources.Global.UnsuccessfulEmailVerification</h4>
<p>@Resources.Global.UnsuccessfulEmailVerificationMessage</p>