<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tudastar.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>tudastar</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$tudastar</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SoAContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:jhdoki2jf1.database.windows.net,1433;Initial Catalog=tudastardb3;User ID=klaci@jhdoki2jf1;Password=DBJelszo1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SoFNetAcademia.Models.SoAContext, SoFNetAcademia" MigrationConfiguration="SoFNetAcademia.Migrations.Configuration, SoFNetAcademia" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:jhdoki2jf1.database.windows.net,1433;Initial Catalog=tudastardb3;User ID=klaci@jhdoki2jf1;Password=DBJelszo1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;AttachDbFilename=|DataDirectory|\aspnet-SoFNetAcademia2-20130625133849.mdf;Initial Catalog=aspnet-SoFNetAcademia2-20130625133849;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.;Initial Catalog=aspnet-SoFNetAcademia2-20130625133849;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SoFNetAcademia2-20130625133849.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jhdoki2jf1.database.windows.net,1433;Initial Catalog=tudastardb3;User ID=klaci@jhdoki2jf1;Password=DBJelszo1</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SoAContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jhdoki2jf1.database.windows.net,1433;Initial Catalog=tudastardb3;User ID=klaci@jhdoki2jf1;Password=DBJelszo1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>